.button {
  text-align: center;
  box-sizing: border-box;
  border-radius: 43px;
  border: solid 2px #303030;
  color: rgba(255, 255, 255, 0.5);
  background: none;
  cursor: pointer;
  transition: 0.5s;
}

.button:hover {
  background: var(--colorPrimary);
  border: solid 2px var(--colorPrimary);
  color: var(--colorBlack);
  transition: 0.5s;
}

.button_big {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.6px;
  padding: 25px 58px;
  background: var(--colorPrimary);
  border: solid 2px var(--colorPrimary);
  color: var(--colorBlack);
  transition: 0.5s ease;
}
.button_big:hover {
  transform: scale(1.05);
  transition: 0.5s ease;
}
@media (max-width: 768px) {
  .button_big {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.6px;
    padding: 20px 30px;
  }
}
@media (max-width: 480px) {
  .button_big {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.6px;
    padding: 16px 30px;
  }
}

.button_small {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  width: 100px;
  height: 40px;
  transition: 0.5s;
}
