.text_card_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 255px);
  gap: 30px;
  justify-content: center;
}
@media (max-width: 1139px) {
  .text_card_wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 849px) {
  .text_card_wrapper {
    display: grid;
  }
}
.text_card {
  max-width: 255px;
  max-height: 206px;
  border-radius: 6px;
  padding: 22px 25px 60px 25px;
  background-color: #252525;
  cursor: pointer;
  transition: 1.5s ease;
}
.text_card:hover {
  background-color: var(--colorPrimary);
  transform: scale(1.2);
  transition: 1.5s ease;
}
.text_card:hover .text_card_title {
  color: #191919;
}
.text_card:hover .text_card_underline_green {
  background-color: #191919;
}
.text_card:hover .text_card_subtitle {
  color: #191919;
}

.text_card_title {
  font-weight: 400;
  font-size: 22px;
  letter-spacing: -0.275px;
  padding-bottom: 9px;
  color: #ffffff;
}

.text_card_underline_green {
  margin-left: 0;
  width: 56px;
  height: 2px;
  margin-top: 7px;
  border: none;
  color: var(--colorPrimary);
  background-color: var(--colorPrimary);
}

.text_card_subtitle {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 24px;
}
