.about_wrapper {
  max-width: 1100px;
  background: #252525;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding-top: 77px;
}

.about_subtitle {
  padding-top: 80px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #a6a6a6;
  line-height: 28px;
  padding-bottom: 90px;
}


