.header_wrapper {
  width: 100%;
  height: 80px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 660px) {
  .header_wrapper {
    flex-wrap: wrap;
  }
}
.logo {
  margin-right: 9px;
}
nav {
  margin-left: auto;
}
a {
  color: inherit;
  text-decoration: inherit;
}
.header_ul {
  display: flex;
}
.nav_item {
  font-size: 13px;
  margin-right: 19px;
}
.nav_item:last-child {
  margin-right: 9px;
}
.nav_item:hover {
  color: var(--colorPrimary);
  transition: 0.15s;
}
.nav_item_link {
  padding: 6px 12px;
}
.header_undreline {
  position: absolute;
  top: auto;
  left: 0;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 0;
  opacity: 0.1;
}
