.section_title_position {
  text-align: center;
}
.section_title {
  font-weight: 900;
  font-size: 100px;
  letter-spacing: 7.5px;
  color: #303030;
  z-index: 1;
}

@media (max-width: 760px) {
  .section_title {
    font-size: 80px;
  }
}
.first_section_subtitle {
  font-size: 30px;
}

.section_subtitle {
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 6px;
  color: #d9d9d9;
  margin-top: -83px;
  z-index: 2;
}

@media (max-width: 760px) {
  .section_subtitle {
    font-size: 20px;
    margin-top: -63px;
  }
}
.subtitle_small {
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 6px;
  color: #d9d9d9;
  margin-top: -83px;
  z-index: 2;
}
@media (max-width: 760px) {
  .subtitle_small {
    font-size: 20px;
    margin-top: -63px;
  }
}

.green_underline {
  width: 60px;
  height: 2px;
  margin-top: 52px;
  border: none;
  color: var(--colorPrimary);
  background-color: var(--colorPrimary);
}
@media (max-width: 760px) {
  .green_underline {
    margin-top: 42px;
  }
}
