button {
  text-align: center;
  box-sizing: border-box;
  border-radius: 43px;
  border: solid 2px #303030;
  color: rgba(255, 255, 255, 0.5);
  background: none;
  cursor: pointer;
}

button:hover {
  background: #34c759;
  border: solid 2px #34c759;
  color: #1a1a1a;
}
