.slider {
  padding-bottom: 70px;
}

.slider_wpapper {
  max-width: 990px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.slider_button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
  width: 64px;
  border-radius: 50%;
  margin: auto 0;
  background: none;
  border: solid 2px;
  font-size: 25px;
  color: #4d4d4d;
  cursor: pointer;
}
@media (max-width: 560px) {
  .slider_button {
    height: 40px;
    width: 44px;
  }
}
.slider_img {
  width: 100%;
}
.slider_button:hover {
  border: solid 2px var(--colorPrimary);
  color: var(--colorPrimary);
}

.slider_button:disabled {
  visibility: hidden;
}
