@import "./styles/vars.css";
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul,
ol {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul,
ol,
li {
  list-style: none;
}

body {
  background: #1a1a1a;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url(./img/back.png);
  margin: 0 auto;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 165px;
  padding-right: 165px;
}
.content_position {
  width: 100%;
  margin: 0 auto;
}
