@import "./styles/vars.css";
html {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul,
ol {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul,
ol,
li {
  list-style: none;
}

body {
  background: #1a1a1a;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url(./img/back.png);
  margin: 0 auto;
}
.wrapper {
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
header {
  max-width: 1130px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
section {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.rec-dot {
  display: none;
}
/* .rec .rec-arrow {
  background-color: #262626;
  color: #4d4d4d;
}
.rec .rec-arrow:focus {
  background-color: var(--colorPrimary);
  color: #4d4d4d;
}
.rec .rec-arrow:hover {
  background-color: var(--colorPrimary);
  color: #4d4d4d;
}
.rec-arrow-right {
  background-color: none;
  border: 2px solid #262626;
} */

/* square buttons */
.rec.rec-arrow {
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.5);
  border: solid 2px #303030;
  background: none;
}

/* round buttons on hover */
.rec.rec-arrow:hover {
  color: var(--colorPrimary);
  border: solid 2px var(--colorPrimary);
  background: none;
}
.rec.rec-arrow:hover:enabled {
  color: var(--colorPrimary);
  border: solid 2px var(--colorPrimary);
  background: none;
}
.rec.rec-arrow:focus:enabled {
  color: var(--colorPrimary);
  border: solid 2px var(--colorPrimary);
  background: none;
}
.rec.rec-arrow:focus {
  color: var(--colorPrimary);
  border: solid 2px var(--colorPrimary);
  /* background-color: var(--colorPrimary); */
  background: none;
}

/* disable default outline on focused items */
/* add custom outline on focused items */
.rec-carousel-item:focus {
}
